@inject AuthService AuthService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Е-Кафедра</a>
    </div>
</div>

<div class="flex-column">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Головна</NavLink>
        </div>

        @if (!AuthService.IsAuthenticated || AuthService.IsInRole("Unregistered"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="public/teachers">Викладачі</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="public/disciplines">Дисципліни</NavLink>
            </div>
        }

        @if (AuthService.IsInRole("Manager"))
        {
            <div class="nav-item px-3 text-white-50 small mt-2 ms-3">АДМІНІСТРУВАННЯ</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manager/teachers">Керування викладачами</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manager/students">Керування студентами</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manager/disciplines">Керування дисциплінами</NavLink>
            </div>
        }

        @if (AuthService.IsInRole("Teacher"))
        {
            <div class="nav-item px-3 text-white-50 small mt-2 ms-3">ЖУРНАЛ</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="teacher/grade">Виставити оцінки</NavLink>
            </div>
        }

        @if (AuthService.IsInRole("Student"))
        {
            <div class="nav-item px-3 text-white-50 small mt-2 ms-3">НАВЧАННЯ</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="student/my-grades">Мої оцінки</NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized() => AuthService.OnChange += StateHasChanged;
    public void Dispose() => AuthService.OnChange -= StateHasChanged;
}